html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.header-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/gow-background.jpg);
    background-repeat: no-repeat;
    background-color: black;
}


.right-container {
    display: flex;
    padding: 0;
    align-items: center;
}

.right-container button {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    padding: 1em;
    height: 2.5em;
}

.right-container img {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.start-session-button button {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
}

.epicGamesLogo img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    background: transparent;
    margin: auto;
}

.buttons button {
    background: transparent;
    color: #ffffff;
    border: none;
}

.unrealEngine button {
    margin: auto;
    padding: 0.4em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1ch;
    background-color: gray;
}

.gow-content {
    margin-right: 25em;
    margin-top: 10em;
}

.gow-logo-image {
    width: 25em;
    padding: 1em;
    margin-left: 10px;
}

.gow-content-description {
    padding: 0;
    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.gow-content-description label {
    padding: 1em;
    color: #ffffff;
    top: 50%;
    left: 20%;
    text-align: justify;
    text-justify: inter-word;
    font-family: Verdana;
}




@media (max-width: 1200px) {

    .header-container {
        margin: 0;
        padding: 0;
        width: 100vh;
        height: 100vh;
    }

    .container {
        margin: 0 auto;
    }

    .epicGamesLogo {
        left: 5vh;
        position: fixed;
    }

    /* .button just works in desktop resolution*/

    .buttons {
        display: none;
    }

    .right-container {
        right: 55vh;
        height: 4.5em;
        position: fixed;
    }

    .download-epic-button {
        display: none;
    }

    /* GOD OF WAR CONTENT*/

    .gow-content {
        justify-content: center;
        align-items: center;
    }


    /* DIV WISHLIST OR BUY*/

    .buy-wishlist-container {
        width: 100%;
    }

    .buy-wishlist-container div {
        display: inline-block;
    }

    .buy-wishlist-container img{
        margin: 5px;
        width: 15px;
        height: 15px;
    }

    .wishlist-button button {
        background-color: transparent;
        border: none;
    }
}